<!doctype HTML>
<html>
  
   <head>
      <title>Oh Sweater</title>
      <link rel = "stylesheet" type = "text/css"  href= "css/resultpage.css">
     <link rel="shortcut icon" href="images/favicon.ico">
     
   </head>
  
   <body background = "http://us.cdn1.123rf.com/168nwm/seamartini/seamartini1505/seamartini150500332/40475031-cloudy-blue-sky-with-white-clouds-seamless-pattern-for-background-or-textile-design.jpg">
      <img src = "../images/logo.png">

     <br>
        
        <div id = "insertoutfit">
          <img src = "<%=@imageurl%>">
        </div>
        
   </body>
</html>