body{
  font-family: 'noteworthy';
  font-weight: normal;
  font-size: 150%;
/*   background-color: rgb(255, 160, 122); */
}

#insertoutfit{
/*   width: 33%; */
  padding: 10px;
  margin-left: 33%;
  margin-right: 33%;
  margin-bottom: 1%;
  border: 3px solid;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  float: left;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

