body{
  font-family: 'noteworthy';
  font-weight: normal;
  font-size: 150%;
  color: black;
/*   background-color: rgb(255, 160, 122); */
}

.insertoutfit{
  width: 33%;
  padding: 10px;
  margin-left: 33%;
  margin-right: 33%;
  margin-bottom: 1%;
/*   border-color: green; */
  border: 3px solid;
  border-radius: 5px;
  background-color: rgb(254, 244, 90);
  text-align: center;
  vertical-align: middle;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

